/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--home-color);
}

.scroll-top {
    box-shadow: 0 0 2px var(--text-color);
    background-color: var(--white-color) !important;
}

.nav {
    height: 80px;
    display: grid;
    align-items: center;
    -webkit-box-align: center;
    padding: 10px;
}

.nav-center {
    display: grid;
    grid-template-columns: 6fr 4fr;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.nav-list {
    height: 100%;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
}

.nav-list__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list__link a {
    flex: 1;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.nav-list__link a:hover {
    opacity: 0.7;
}

.nav-logo {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    align-items: center;
}

.nav-logo__link {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--text-color);
    text-shadow: 0 4px 4px currentColor;
    text-decoration: none;
    height: 100%;
    padding-left: 10px;
}

.nav-logo__link span {
    color: var(--primary-color);
}

.nav-logo__link:hover {
    color: unset;
    text-decoration: none;
    opacity: 0.8;
}

.nav-right {
    display: none;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-right__icon {
    flex: 1;
    font-size: 3rem;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
    z-index: 1000;
    transition: all 0.5s linear;
    opacity: 0;
    transform: translateX(-100%);
}

.list-item__icon {
    text-align: right;
    display: block;
}

.list-item__icon i {
    font-size: 3.6rem;
    line-height: 3.6rem;
    padding: 20px;
}

.list-link {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 60px;
}

.list-link__item {
    text-align: center;
}

.list-link__item a {
    text-decoration: none;
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    display: block;
    padding: 20px;
    color: var(--text-color);
}

#navbar:checked ~ .list-item {
    opacity: 1;
    transform: translateX(0);
}

/* Content */
#content {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Home */
#home {
    text-align: left;
    background-color: var(--home-color);
    margin-top: 80px;
}

.section-center {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    place-items: center;
    width: 95vw;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: 1fr;
}

#home .section-center {
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
}

.scroll-show .home-text {
    transition: all 1s linear;
    transform: translateX(-100%);
    opacity: 0;
}

.scroll-show .home-img {
    transition: all 1s linear 0.3s;
    opacity: 0;
}

.scroll-show.start .home-text {
    transform: translateX(0);
    opacity: 1;
}

.scroll-show.start .home-img {
    opacity: 1;
}

.group-about__title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: bold;
    color: var(--text-color);
}

.group-about__title span {
    position: relative;
}

.group-about__title span::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--primary-color);
    top: 4px;
    left: 0;
}

.group-about__job {
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--text-color);
    padding: 20px 0 30px;
    font-weight: 500;
}

.btn {
    font-size: var(--text-size);
    line-height: var(--text-size);
    padding: 15px 25px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 0 1px var(--text-color);
    transition: all 0.3s linear;
    border: none;
}

.btn:hover {
    color: var(--white-color);
    opacity: 0.9;
    text-decoration: none;
    transform: scale(0.95);
}

.list {
    padding-top: 40px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-icon {
    flex: 1;
    text-align: center;
}

.list-icon__link {
    font-size: 2.8rem;
    line-height: 3rem;
    color: var(--text-color);
    display: block;
    padding: 10px;
    text-decoration: none;
}

.list-icon__link:hover {
    opacity: 0.8;
    color: var(--text-color);
}

.author-img {
    width: 320px;
    height: 480px;
    position: relative;
}

.author-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 2px #333;
}

.author-img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    top: 0;
    left: 0;
    transform: translate(50px, 50px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

/* About */
#about {
    position: relative;
    padding: 80px 0 110px;
}

#about .section-center {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
}

.scroll-show .about-img {
    transition: all 1s linear 0.3s;
    opacity: 0;
}

.scroll-show.start .about-img {
    opacity: 1;
}

.scroll-show .about-text {
    transition: all 1s linear;
    transform: translateX(100%);
    opacity: 0;
}

.scroll-show.start .about-text {
    transform: translateX(0);
    opacity: 1;
}

.author-img--about::after {
    transform: translate(-50px, 50px);
}

.about-title {
    font-size: var(--title-size);
    line-height: var(--title-size);
    padding-bottom: var(--title-padding);
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 4px;
    background-color: var(--primary-color);
}

.about-heading {
    font-size: var(--text-size);
    line-height: 2rem;
    padding-top: 20px;
}

.about-heading--last {
    margin-bottom: 60px;
}

/* Services */
#services {
    padding: 60px 0;
    text-align: center;
    background-color: var(--content-color);
}

.list-box {
    display: grid;
    align-items: center;
    -webkit-box-align: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.scroll-show > .about-title {
    transition: all 1s linear;
    opacity: 0;
}

.scroll-show.start > .about-title {
    opacity: 1;
}

.scroll-show .list-box .about-box {
    transition: all 1s linear;
    transform: scale(0.5);
    opacity: 0;
}

.scroll-show.start .list-box .about-box {
    transform: scale(1);
    opacity: 1;
}

.underline--center {
    left: 20%;
}

.about-box {
    margin-top: 40px;
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 10px;
}

.about-box:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.about-box:hover .box-title .underline--center {
    background-color: var(--white-color);
}

.box-icon {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
}

.box-title {
    padding-bottom: 10px;
    font-size: 2rem;
    line-height: 2rem;
    position: relative;
    display: inline-block;
    margin: 10px 0 20px;
}

.box-heading {
    font-size: var(--text-size);
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Work */
#work {
    text-align: center;
    padding: 60px 0;
}

.box-heading--top {
    padding-top: 20px;
}

.group-img {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;
    grid-template-areas: 
    "a b b"
    "a c d";
}

.scroll-show {
    transition: all 1s linear;
    opacity: 0;
}

.scroll-show.start {
    opacity: 1;
}

.group-img__work {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.group-img__work:first-child {
    grid-area: a;
}

.group-img__work:nth-child(2) {
    grid-area: b;
}

.group-img__work:nth-child(3) {
    grid-area: c;
}

.group-img__work:last-child {
    grid-area: d;
}

.group-img__work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-more {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 128, 185, 0.6);
    color: var(--white-color);
    display: none;
    text-decoration: none;
    outline: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}

.group-img__work::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid var(--white-color);
    border-radius: 10px;
    transition: 0.3s;
}

.group-img__work:hover::after {
    transform: scale(0.8);
}

.about-more span {
    font-size: 1.8rem;
    line-height: 2rem;
}

.about-more span:first-child {
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.about-more:hover {
    color: var(--white-color);
    text-decoration: none;
}

.group-img__work:hover .about-more {
    display: flex;
    visibility: inherit;
    opacity: 1;
}

/* Connect */
#connect {
    -webkit-clip-path: polygon( 50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10% );
    clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
    position: relative;
    text-align: center;
    padding: 60px 0;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/anh-nen-may-tinh-toi_061741377.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-box {
    width: 100%;
    margin: 60px auto;
    background-color: rgba(41, 128, 185, 0.6);
    color: var(--white-color);
    padding: 60px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.banner-box .box-heading {
    padding: 30px 0 60px;
}

/* Skill */
#skill {
    margin: 60px 0;
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(to right, #4b4b4b , #3d3d3d);
    color: var(--white-color);
    opacity: 0.8;
}

.box-banner {
    display: grid;
    place-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 60px 0;
    opacity: 1;
    z-index: 1;
}

.group-skill {
    width: 100%;
    text-align: left;
}

.group-skill__title {
    font-size: 2.6rem;
    line-height: 2.6rem;
    letter-spacing: 4px;
}

.group-skill__content {
    position: relative;
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.group-skill__content h4 {
    margin: 0;
}

.group-skill__content--8 {
    --percent-size: 80%;
}

.group-skill__content--7 {
    --percent-size: 70%;
}

.group-skill__content--3 {
    --percent-size: 30%;
}

.group-skill__content--6 {
    --percent-size: 60%;
}

.group-skill__content--2 {
    --percent-size: 20%;
}

.group-skill__content p {
    position: absolute;
    top: 0;
    left: var(--percent-size);
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
}

.percent {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.percent p {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percent-size);
    height: 100%;
    border: 10px;
    overflow: hidden;
    background-color: var(--primary-color);
}

/* Event */
#event {
    text-align: center;
    padding: 60px 0;
}

.group-time {
    text-align: left;
    margin: 70px auto;
    width: 80vw;
    max-width: 60rem;
}

.group-time__box {
    font-size: var(--text-size);
    line-height: 2rem;
    border-bottom: 2px dashed var(--primary-color);
    padding: 30px 20px;
}

.group-time__box:first-child {
    border-right: 2px dashed var(--primary-color);
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.group-time__box:nth-child(2) {
    border-left: 2px dashed var(--primary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}

.group-time__box:nth-child(3) {
    border-right: 2px dashed var(--primary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.group-time__box:nth-child(4) {
    border-left: 2px dashed var(--primary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}

.group-time__box:nth-child(5) {
    border-right: 2px dashed var(--primary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.group-time__box:last-child {
    border-left: 2px dashed var(--primary-color);
    border-top-left-radius: 10px;
    border-bottom: none;
    margin-right: 10px;
}

.group-time__box h4 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Blog */
#blog {
    text-align: center;
    background-image: url(../images/imager_15_11985_700.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
}

.blog-title {
    color: var(--white-color);
    padding-bottom: 60px;
}

.group-card {
    display: grid;
    align-items: center;
    place-items: center;
    margin: 15px 0;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.group-blog {
    width: 100%;
    position: relative;
}

.group-blog__box {
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    transition: all linear 0.5s;
    transform-origin: center;
}

.blog-img {
    width: 100%;
    height: 220px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-content {
    padding: 20px;
    text-align: left;
}

.blog-content h4 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
    margin: 20px 0 10px; 
}

.blog-content p {
    font-size: var(--text-size);
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 30px;
}

.blog-content__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-content__author img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.blog-content__author span {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.group-blog__after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-image: url(../images/ngon-ngu-lap-trinh-danh-cho-beginner-63738888196.6579.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all linear 0.5s;
    display: grid;
    place-items: center;
    transform: scale(0.5);
    transform-origin: center;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 2px var(--text-color);
}

.group-blog:hover .group-blog__box {
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
}

.group-blog:hover .group-blog__after {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/* Footer */
#footer {
    padding: 60px 0;
    background-color: var(--text-color);
}

.footer-address {
    text-align: center;
}

.list-icon__link--color {
    color: var(--primary-color);
}

.license {
    padding-top: 40px;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--primary-color);
}

.footer-address .list {
    justify-content: center;
}

.footer-address .list .list-icon {
    flex: unset;
}

.footer-address .list .list-icon:hover .list-icon__link{
    color: var(--home-color);
}

/* Messange */
#box-hire {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--text-color);
    font-size: 2.8rem;
    line-height: 2.8rem;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.hire {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 10px;
    cursor: auto;
    z-index: 1000;
    opacity: 0;
}

.hire-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}

.hire-title__text {
    padding: 0;
    margin: 0;
}

.hire-title__text i {
    color: #e74c3c;
}

.hire-title__close {
    font-size: 3.6rem;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.hire-img {
    width: 100%;
    padding: 20px;
}

.hire-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.group-about__two {
    display: none;
    opacity: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
}

.meme {
    width: 320px;
}

.meme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}